$textColor: rgba(96, 125, 139, 1);
$areaShadow: rgba(33, 150, 243, 1);
$submitColor:  rgba(76, 175, 80, .5);
$submitColorHover: rgba(76, 175, 80, .7);
$submitColorActive: rgba(76, 175, 80, 1);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $textColor;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';
  
}

html, body {
  height: 100%;
}

.page-content {
  height: 100%;
  text-align: center;
  
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align:middle;
  }
}

.credit-form {
  display: inline-block;
  width: 545px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.form-header {
  margin-bottom: 20px;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.form-header__slogan {
  margin: 0;
 color:white;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.payment-form {

  width: 100%;
  height: auto;
  text-align:left;
  vertical-align: middle;
  display: 'flex';
  text-align:'centre';
  justify-content: 'center';
  align-items: 'center';

}


.payment-form__group {

  float:'centre';
  margin-bottom: 10px;
  padding: 0 10px;
  vertical-align: middle;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}


.payment-form__group-small {
  width: 20%;
}

.payment-form__group-medium {
  width: 20%;
}

.payment-form__group-normal {
  width: 20%;
}

.payment-form__group-large {
  width: 20%;
}

.payment-form__label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
 
}


.payment-form__input {
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  line-height: 1.8;
  padding: 0 .5em;
  width: 100%;
  display: 'flex';
    justify-content: 'center';
    align-items: 'center';


  &:focus {
    box-shadow: 0 0 0 1px $areaShadow;
  }
}

.payment-form__select {
  padding: 10px;
  outline: none;
  
  &:focus {
    box-shadow: 0 0 0 1px $areaShadow;
  }
}

.payment-form__pic-container {
  text-align: 'centre';
  line-height: 0;
}

.payment-form__pic {
	
  position: 'centre';
  bottom: -18px;
  width: 78px;
  height: 75px;
}

.payment-form__button {
  width: 25%;
  padding: 15px;
  border-radius: 10px;
 
  cursor: pointer;
  background-color: $submitColor;
  border: none;
  outline: none;
  box-shadow: 3px 5px $areaShadow;
  position: relative;
  
  &:hover {
    background-color: $submitColorHover;   
  }
  
  &:active {
    background-color: $submitColorActive;   
    top: 4px;
    box-shadow: none; 
  }
}

@media(max-width: 544px) {
    .credit-form,
    .payment-form__group-small,
    .payment-form__group-medium,
    .payment-form__group-normal,
    .payment-form__group-large {
     width: 100%;
   }

  .payment-form__pic-container {
    text-align: center;
  }
}